<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>991475988411-9it1aeqphkgsol2avb2q61b2n6khaonk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991475988411-9it1aeqphkgsol2avb2q61b2n6khaonk</string>
	<key>API_KEY</key>
	<string>AIzaSyCWaep02XcmP_X4Q1989fC3jX9r12h_ZIc</string>
	<key>GCM_SENDER_ID</key>
	<string>991475988411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eironeia.hackath2on17</string>
	<key>PROJECT_ID</key>
	<string>hackath2on-562dd</string>
	<key>STORAGE_BUCKET</key>
	<string>hackath2on-562dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:991475988411:ios:0aaddd3dc417c041</string>
	<key>DATABASE_URL</key>
	<string>https://hackath2on-562dd.firebaseio.com</string>
</dict>
</plist>